{{ define "footer" }}
<footer>
    <div class="container">
        <p class="footer-text">{{ t $.locale "footer_demo" }}</p>
        <p class="footer-text">&copy; 2020 Google Inc (<a href="https://github.com/GoogleCloudPlatform/microservices-demo">Source Code</a>)</p>
        <div class="footer-meta">
            <p>
                {{ if $.session_id }}session-id: {{ $.session_id }} — {{end}}
                {{ if $.request_id }}request-id: {{ $.request_id }}{{end}}
            </p>
            {{ if $.deploymentDetails }}
                <p>
                    {{ if index .deploymentDetails "CLUSTERNAME" }}
                    <b>Cluster: </b>{{ index .deploymentDetails "CLUSTERNAME" }}<br/>
                    {{ end }}
                    {{ if index .deploymentDetails "ZONE" }}
                    <b>Zone: </b>{{ index .deploymentDetails "ZONE" }}<br/>
                    {{ end }}
                    {{ if index .deploymentDetails "HOSTNAME" }}
                    <b>Pod: </b>{{ index .deploymentDetails "HOSTNAME" }}
                    {{ end }}
                </p>
            {{ else }}
                <p>Deployment details loading. Refresh to retry.</p>
            {{ end }}
        </div>
    </div>
</footer>
</body>
</html>
{{ end }}
