{{ define "header" }}
<!DOCTYPE html>
<html lang="{{ $.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ if $.is_cymbal_brand }}
        Cymbal Shops
        {{ else }}
        Online Boutique
        {{ end }}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/cart.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/order.css">
    {{ if $.is_cymbal_brand }}
    <link rel='shortcut icon' type='image/x-icon' href='/static/favicon-cymbal.ico' />
    {{ else }}
    <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
    {{ end }}
</head>
<body>
    <header>
        {{ if $.frontendMessage }}
        <div class="nav-message">{{ $.frontendMessage }}</div>
        {{ end }}
        <nav class="nav">
            <div class="nav-inner">
                <a href="/" class="nav-logo">
                    <img src="/static/images/botique-logo.png" alt="" />
                    <span class="nav-title">Minimal Boutique</span>
                </a>
                <div class="nav-controls">
                    {{ if $.show_currency }}
                    <div class="nav-currency">
                        <form method="POST" action="/setLocale" id="locale_form">
                            <select name="locale" onchange="document.getElementById('locale_form').submit();">
                                {{range $.locale_options}}
                                <option value="{{.Value}}" {{if eq .Value $.current_locale_value}}selected="selected"{{end}}>{{.Label}}</option>
                                {{end}}
                            </select>
                        </form>
                    </div>
                    {{ end }}
                    <a href="/cart" class="nav-cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.4 11" width="22" height="22" fill="#f5f4f0">
                            <path d="M0 0v1.1h1.1l2 4.17-.75 1.35a1.1 1.1 0 0 0-.13.53c0 .61.5 1.1 1.1 1.1h6.66v-1.1H8a.15.15 0 0 1-.15-.14v-.06l.5-.9h4.1c.41.01.8-.2 1-.57l1.46-4.4H6.7L6.25 0H0zm2.71 2.08h6.5l-1 3.06-4.16-.01-1.34-3.05zm.59 6.72a1.1 1.1 0 1 0 0 2.2 1.1 1.1 0 0 0 0-2.2zm5.5 0a1.1 1.1 0 1 0 0 2.2 1.1 1.1 0 0 0 0-2.2z"/>
                        </svg>
                        {{ if $.cart_size }}
                        <span class="cart-badge">{{$.cart_size}}</span>
                        {{ end }}
                    </a>
                </div>
            </div>
        </nav>
    </header>
{{end}}
