{{ define "home" }}
{{ template "header" . }}
<div {{ with $.platform_css }} class="platform-badge {{.}}" {{ end }}></div>
<main>
  <div class="home-hero-image-mobile"></div>
  <div class="home-grid">
    <div class="home-hero-image"></div>
    <div class="home-content">
      <h2 class="section-title">{{ t $.locale "hot_products" }}</h2>
      <div class="product-grid">
        {{ range $.products }}
        <div class="product-card">
          <a href="/product/{{.Item.Id}}">
            <img alt="" src="{{.Item.Picture}}" loading="lazy">
            <div class="product-card-body">
              <div class="product-card-name">{{ productName $.locale .Item.Id .Item.Name }}</div>
              <div class="product-card-price">{{ renderMoney $.locale .Price }}</div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ template "footer" . }}
{{ end }}
