{{ define "order" }}
    {{ template "header" . }}
    <div {{ with $.platform_css }} class="platform-badge {{.}}" {{ end }}></div>
    <main>
        <div class="order-page">
            <h1>{{ t $.locale "order_complete" }}</h1>
            <p class="subtitle">{{ t $.locale "confirmation_email" }}</p>
            <dl class="order-details">
                <div class="order-detail-row">
                    <dt>{{ t $.locale "confirmation_number" }}</dt>
                    <dd>{{.order.OrderId}}</dd>
                </div>
                <div class="order-detail-row">
                    <dt>{{ t $.locale "tracking_number" }}</dt>
                    <dd>{{.order.ShippingTrackingId}}</dd>
                </div>
                <div class="order-detail-row">
                    <dt>{{ t $.locale "total_paid" }}</dt>
                    <dd>{{ renderMoney $.locale .total_paid }}</dd>
                </div>
            </dl>
            <a class="btn btn-primary" href="/">{{ t $.locale "continue_shopping" }}</a>
        </div>
    </main>
    {{ if $.recommendations }}
        {{ template "recommendations" $.recommendations }}
    {{ end }}
    {{ template "footer" . }}
{{ end }}
