{{ define "product" }}
{{ template "header" . }}
<div {{ with $.platform_css }} class="platform-badge {{.}}" {{ end }}></div>
<main>
  <div class="product-page">
    <div class="product-image-wrap">
      <img class="product-image" alt="" src="{{$.product.Item.Picture}}" />
    </div>
    <div class="product-info">
      <h1>{{ productName $.locale $.product.Item.Id $.product.Item.Name }}</h1>
      <p class="price">{{ renderMoney $.locale $.product.Price }}</p>
      <p class="description">{{ $.product.Item.Description }}</p>

      {{ if $.packagingInfo }}
      <dl class="product-meta">
        <dt>{{ t $.locale "weight" }}</dt>
        <dd>{{ if $.packagingInfo.Weight }}{{ $.packagingInfo.Weight }}{{ t $.locale "lb" }}{{ else }}{{ t $.locale "footer_na" }}{{ end }}</dd>
        <dt>{{ t $.locale "width" }}</dt>
        <dd>{{ if $.packagingInfo.Width }}{{ $.packagingInfo.Width }}{{ t $.locale "cm" }}{{ else }}{{ t $.locale "footer_na" }}{{ end }}</dd>
        <dt>{{ t $.locale "height" }}</dt>
        <dd>{{ if $.packagingInfo.Height }}{{ $.packagingInfo.Height }}{{ t $.locale "cm" }}{{ else }}{{ t $.locale "footer_na" }}{{ end }}</dd>
        <dt>{{ t $.locale "depth" }}</dt>
        <dd>{{ if $.packagingInfo.Depth }}{{ $.packagingInfo.Depth }}{{ t $.locale "cm" }}{{ else }}{{ t $.locale "footer_na" }}{{ end }}</dd>
      </dl>
      {{ end }}

      <form class="product-form" method="POST" action="/cart">
        <input type="hidden" name="product_id" value="{{$.product.Item.Id}}" />
        <select name="quantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>10</option>
        </select>
        <button type="submit" class="btn btn-primary">{{ t $.locale "add_to_cart" }}</button>
      </form>
    </div>
  </div>
  {{ if $.recommendations}}
    {{ template "recommendations" $.recommendations }}
  {{ end }}
  <div class="ad-section">
   {{ with $.ad }}{{ template "text_ad" . }}{{ end }}
  </div>
</main>
{{ template "footer" . }}
{{ end }}
