{{ define "recommendations" }}
<section class="recommendations">
    <div class="container">
        <h2>{{ t $.locale "you_may_also_like" }}</h2>
        <div class="recommendations-grid">
            {{range . }}
            <div class="product-card">
                <a href="/product/{{.Id}}">
                    <img alt="" src="{{.Picture}}" loading="lazy">
                    <div class="product-card-body">
                        <h5>{{ productName $.locale .Id .Name }}</h5>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
